{% extends 'base.html' %}
{% block title %}User{% endblock %}
{% block content %}
    <div class="card mt-3">
        <h5 class="card-header">{{ user_obj.username }}'s profile</h5>
        <div class="card-body">
            <h5 class="card-title">Username: {{ user_obj.username }}</h5>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
{#        {% for review in reviews %}#}
{#            <div class="card text-center me-2 mt-2" style="width: 18rem;">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">Author: {{ review.author }}</h5>#}
{#                    <p class="card-text">Product: {{ review.product.name }}</p>#}
{#                    <p class="card-text">Review text: {{ review.text }}</p>#}
{#                    <p class="card-text">Author email: {{ review.author.email }}</p>#}
{#                    <h6>Rating: {{ review.rating }}</h6>#}
{#                    <a href="{% url 'update_review' review.pk %}" class="btn btn-secondary">Update Review</a>#}
{#                    <a href="{% url 'delete_review' review.pk %}" class="btn btn-secondary mt-3">Delete Review</a>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
    </div>
{% endblock %}