{% extends 'base.html' %}
{% block title %}User{% endblock %}
{% block content %}
    <div class="card mt-3">
        <h5 class="card-header">{{ user_obj.username }}'s profile</h5>
        <div class="card-body">
            <h5 class="card-title">Username: {{ user_obj.username }}</h5>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
        {% for photo in user_obj.favorite_posts.all %}
            <div class="card h-100">
                <img src="{{ photo.photo.url }}" class="card-img-top img-thumbnail product_image"
                     alt="product image">
                <div class="card-body">
                    <h5 class="card-title">{{ photo.description }}</h5>
                    <p class="card-text">Author: <a
                            href="{% url 'profile' user_obj.pk %}">{{ photo.author }}</a></p>
                    <p class="card-text">Created date: {{ photo.created_at }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}