{% extends 'base.html' %}
{% block menu %}
    {% if photomodel.perms.change_photomodel or request.user == photomodel.author %}
    <a class="nav-link" href="{% url 'update_photo' photomodel.pk %}">Update photo</a>
    {% endif %}
    {% if photomodel.perms.delete_photomodel or request.user == photomodel.author %}
        <a class="nav-link" href="{% url 'delete_photo' photomodel.pk %}">Delete photo</a>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="photo-detail">
        <div class="cards_custom mt-3">
            <div class="card card_detail_custom">
                <img src="{{ photomodel.photo.url }}" class="card-img-top img-thumbnail product_image"
                     alt="product image">
                <div class="card-body">
                    <h5 class="card-title">{{ photomodel.description }}</h5>
                    <p class="card-text">Author: {{ photomodel.author }}</p>
                    <p class="card-text">Created date: {{ photomodel.created_at }}</p>
                    <h5>In favorites:</h5>
                    {% for user in photomodel.favorite.all %}
                        <p>{{ user }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
